In [1]:
# Importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading datasets
# main dataset
df = pd.read_csv('../data/covid_19_data.csv',sep=';')
# region and climate dataset
df_cat = pd.read_csv('../data/covid_19_data_cat.csv')
# numberofpopulation
df_pop = pd.read_csv('../data/number_of_population.csv')

print(df)
print(df_cat)
print(df_pop)

             date           province         country  confirmed  deaths  \
0      01/22/2020              Anhui  Mainland China          1       0
1      01/22/2020            Beijing  Mainland China         14       0
2      01/22/2020          Chongqing  Mainland China          6       0
3      01/22/2020             Fujian  Mainland China          1       0
4      01/22/2020              Gansu  Mainland China          0       0
...           ...                ...             ...        ...     ...
85633    08/12/20  Zaporizhia Oblast         Ukraine        971      22
85634    08/12/20            Zeeland     Netherlands        950      69
85635    08/12/20           Zhejiang  Mainland China       1275       1
85636    08/12/20    Zhytomyr Oblast         Ukraine       2215      48
85637    08/12/20       Zuid-Holland     Netherlands      15765    1314

       recovered
0              0
1              0
2              0
3              0
4              0
...          ...
85633        680
85634          0
85635       1268
85636       1574
85637          0

[85638 rows x 6 columns]
         country               region    climate
0    Afghanistan       Asia & Pacific  nontropic
1        Albania               Europe  nontropic
2        Algeria          Arab States  nontropic
3        Andorra               Europe  nontropic
4         Angola               Africa     tropic
..           ...                  ...        ...
194      Vatican               Europe  nontropic
195    Venezuela  South/Latin America     tropic
196      Vietnam       Asia & Pacific     tropic
197       Zambia               Africa     tropic
198     Zimbabwe               Africa  nontropic

[199 rows x 3 columns]
          country  population
0           Aruba    106314.0
1     Afghanistan  38041754.0
2          Angola  31825295.0
3         Albania   2854191.0
4         Andorra     77142.0
..            ...         ...
259        Kosovo   1794248.0
260         Yemen  29161922.0
261  South Africa  58558270.0
262        Zambia  17861030.0
263      Zimbabwe  14645468.0

[264 rows x 2 columns]

In [2]:
# replace with this data
replace_country = {"('St. Martin',)":'St. Martin',
                   ' Azerbaijan':'Azerbaijan',
                   'Cabo Verde':'Cape Verde',
                   'Congo (Brazzaville)':'Congo',
                   'Congo (Kinshasa)':'Congo',
                   'North Ireland':'Ireland',
                   'North Macedonia':'Macedonia',
                   'occupied Palestinian territory':'Palestine',
                   'Holy See':'Vatican',
                   'Republic of Ireland':'Ireland',
                   'The Bahamas':'Bahamas',
                   'The Gambia':'Gambia',
                   'Bahamas, The':'Bahamas',
                   'Gambia, The':'Gambia',
                   'Vatican City':'Vatican',
                   'East Timor':'Timor-Leste',
                   'West Bank and Gaza':'Palestine',
                   'MS Zaandam':'Others',
                   'Diamond Princess':'Others',
                   'Mainland China':'China'
                  }

df = df.replace({"country": replace_country})
df = df.groupby(by=['country', 'date']).sum().reset_index()

replace_country = {'Bahamas, The':'Bahamas',
                   'Cabo Verde':'Cabo Verde',
                   'North Macedonia':'Macedonia',
                   'West Bank and Gaza':'Palestine'
                  }

df_pop = df_pop.replace({"country": replace_country})

In [3]:
df_new = df.merge(df_cat, how='left', on="country")
df_new = df_new.merge(df_pop, how='left', on="country")
df_new

,country,date,confirmed,deaths,recovered,region,climate,population
0,Afghanistan,02/24/2020,1,0,0,Asia & Pacific,nontropic,38041754.0
1,Afghanistan,02/25/2020,1,0,0,Asia & Pacific,nontropic,38041754.0
2,Afghanistan,02/26/2020,1,0,0,Asia & Pacific,nontropic,38041754.0
3,Afghanistan,02/27/2020,1,0,0,Asia & Pacific,nontropic,38041754.0
4,Afghanistan,02/28/2020,1,0,0,Asia & Pacific,nontropic,38041754.0
...,...,...,...,...,...,...,...,...
30548,Zimbabwe,08/08/20,4575,102,1416,Africa,nontropic,14645468.0
30549,Zimbabwe,08/09/20,4649,104,1437,Africa,nontropic,14645468.0
30550,Zimbabwe,08/10/20,4748,104,1524,Africa,nontropic,14645468.0
30551,Zimbabwe,08/11/20,4818,104,1524,Africa,nontropic,14645468.0
30552,Zimbabwe,08/12/20,4893,122,1620,Africa,nontropic,14645468.0

In [4]:
df_last = df_new.groupby(by=["country"]).max().reset_index()
df_last = df_last.drop(columns=['date'])

In [5]:
df_last.to_csv('covid-19-dataset.csv')

In [6]:
df_last

,country,confirmed,deaths,recovered,region,climate,population
0,Afghanistan,37345,1354,26694,Asia & Pacific,nontropic,3.804175e+07
1,Albania,6817,208,3552,Europe,nontropic,2.854191e+06
2,Algeria,36699,1333,25627,Arab States,nontropic,4.305305e+07
3,Andorra,977,53,855,Europe,nontropic,7.714200e+04
4,Angola,1762,80,577,Africa,tropic,3.182530e+07
...,...,...,...,...,...,...,...
202,Vietnam,883,18,451,Asia & Pacific,tropic,9.646211e+07
203,Western Sahara,10,1,8,NaN,NaN,1.106958e+09
204,Yemen,1841,528,937,NaN,NaN,2.916192e+07
205,Zambia,8501,246,7233,Africa,tropic,1.786103e+07
206,Zimbabwe,4893,122,1620,Africa,nontropic,1.464547e+07

In [7]:
max(df_last['population'])

1397715000.0